<!--
<ion-header>
  <ion-toolbar>
    <ion-title>title</ion-title>
  </ion-toolbar>
</ion-header>
-->
<ion-content (click)="dismiss()">

</ion-content>
<ion-footer class="ion-no-border">
	<div class="form">
		<ion-list lines="none">
			<ion-item lines="none">
				<ion-label mode="md" position="floating">{{"address_title" | translate}}</ion-label>
				<ion-input mode="md" type="name" value="Home"></ion-input>
			</ion-item>

			<ion-item lines="none">
				<ion-label mode="md" position="floating">{{"your_address" | translate}}</ion-label>
				<ion-textarea mode="md" type="text" rows="2" value="104, Adina Park, Opp HSBC Bank, Old golden street, Washington DC, USA "></ion-textarea>
			</ion-item>
		</ion-list>
	</div>
	<ion-button size="large" shape="full" class="btn" (click)="dismiss()">{{'save_address2' | translate}}</ion-button>
</ion-footer>