ion-content {
	--background: rgba(0, 0, 0, 0) !important;
}

ion-footer {
	background: var(--bg-color-secondary);
	padding-top: 24px;

	.form {
		width: 100%;
		padding: 0 20px;

		ion-row {
			ion-col {
				padding: 0 5px;
			}
		}

		ion-item {
			margin-bottom: 27px;

			ion-label {
				color: var(--text-light) !important;
				font-weight: 400;
			}

			ion-textarea {
				margin-top: 0 !important;
				font-size: .85rem !important;
				font-weight: 400 !important;
			}
		}
	}
}