<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <h2>Forgot Password? <span>Enter registered email address and <br>we'll guide you to resent the password.</span>
      </h2>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg_color">
  <div class="form">
    <ion-list lines="none">
      <ion-item lines="none">
        <ion-label mode="md" position="floating">Enter your Email address</ion-label>
        <ion-input mode="md" type="name"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button size="large" shape="block" class="btn" (click)="location()">Submit</ion-button>
  </div>
</ion-content>
