<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-header>
        <div class="profile_box">
          <ion-menu-toggle auto-hide="false">
            <h3>Hello</h3>
            <h2>Sam Smith</h2>
          </ion-menu-toggle>
        </div>
      </ion-header>

      <ion-content fullscreen>
        <ion-list id="inbox-list" lines="none">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none"
              detail="false" [class.selected]="selectedIndex == i">
              <div class="item_inner d-flex">
                <ion-icon slot="start" class="{{p.icon}}"></ion-icon>
                <div class="text_box">
                  <h2>{{ p.title }}</h2>
                  <h3>{{ p.sub_title }}</h3>
                </div>
              </div>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
            <ion-item (click)="logOut()" routerDirection="root" lines="none" detail="false">
              <div class="item_inner d-flex">
                <ion-icon slot="start" class="zmdi zmdi-pin-account ion-text-start"></ion-icon>
                <div class="text_box">
                  <h2>{{ 'logout'}}</h2>
                  <h3>{{ 'User Logout'}}</h3>
                </div>
              </div>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
