<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="title_inner d-flex">
        <div class="location">
          <h2>Logistic Monitoring </h2>
          <img src="assets/imgs/logo_2.png" width="28" height="28	">
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
  <div class="banner">
    <h3 class="d-flex">On Route</h3>
  </div>
</ion-header>
<ion-content>
  <div class="d-flex button-list">
    <ion-button>
      <ion-icon slot="icon-only" class="zmdi zmdi-play"></ion-icon>
      <span class="tooltip-text">Start</span>
    </ion-button>
    <ion-button>
      <ion-icon slot="icon-only" class="zmdi zmdi-skip-next"></ion-icon>
      <span class="tooltip-text">Finish</span>
    </ion-button>
  </div>
  <div class="d-flex button-list">
    <ion-button>
      <ion-img src="assets/imgs/start-stop-1.png"></ion-img>
      <span class="tooltip-text">Start Stop</span>
    </ion-button>
    <ion-button>
      <ion-img src="assets/imgs/end-stop-1.png"></ion-img>
      <span class="tooltip-text">End Stop</span>
    </ion-button>
  </div>
  <div class="d-flex button-list">
    <ion-button>
      <ion-icon slot="icon-only" class="zmdi zmdi-close-circle"></ion-icon>
      <span class="tooltip-text">Cancel Route</span>
    </ion-button>
    <ion-button>
      <ion-icon slot="icon-only" class="zmdi zmdi-alert-triangle"></ion-icon>
      <span class="tooltip-text">Report Incident</span>
    </ion-button>
  </div>



  <!-- <ion-list>
    <ion-button slot="icon-only">
      <ion-icon class="zmdi zmdi-play"></ion-icon>
    </ion-button>
    <ion-item>
      <ion-button slot="icon-only">
        <ion-icon class="zmdi zmdi-play"></ion-icon>
      </ion-button>
      <div class="route-control-button">
        <ion-icon class="zmdi zmdi-skip-next"></ion-icon>
      </div>
    </ion-item> -->
  <!-- <ion-button slot="icon-only" class="route-control-button">
      <ion-icon class="zmdi zmdi-play"></ion-icon>
    </ion-button> -->
  <!-- <ion-item>
      <div class="route-control-button">
        <ion-icon class="zmdi zmdi-play"></ion-icon>
      </div>
      <div class="route-control-button">
        <ion-icon class="zmdi zmdi-skip-next"></ion-icon>
      </div>
    </ion-item>
    <ion-item>
      <div class="route-control-button">
        <ion-icon class="zmdi zmdi-play"></ion-icon>
      </div>
      <div class="route-control-button">
        <ion-icon class="zmdi zmdi-skip-next"></ion-icon>
      </div>
    </ion-item>
    <ion-item>
      <ion-icon class="zmdi zmdi-close-circle"></ion-icon>
      <ion-icon class="zmdi zmdi-alert-triangle"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon class="zmdi zmdi-play"></ion-icon>
      <ion-icon class="zmdi zmdi-skip-next"></ion-icon>
    </ion-item> -->
  <!-- </ion-list> -->
</ion-content>