<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-title>
      <div class="title_inner d-flex">
        <div class="location">
          <h2>Logistic Monitoring </h2>
          <img src="assets/imgs/logo_2.png" width="28" height="28	">
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
  <div class="banner">
    <h3 class="d-flex">{{status}}</h3>
  </div>
</ion-header>
<ion-content>
  <div class="d-flex button-list">
    <ion-button (click)="routeEvent('starttrip')" [disabled]="!eventButtonActiveList.start">
      <ion-icon slot="icon-only" class="zmdi zmdi-play"></ion-icon>
      <span class="tooltip-text">Start</span>
    </ion-button>
    <ion-button (click)="routeEvent('finishtrip')" [disabled]="!eventButtonActiveList.finish">
      <ion-icon slot="icon-only" class="zmdi zmdi-skip-next"></ion-icon>
      <span class="tooltip-text">Finish</span>
    </ion-button>
  </div>
  <div class="d-flex button-list">
    <ion-button (click)="routeEvent('starttripstop')" [disabled]="!eventButtonActiveList.startStop">
      <ion-img src="assets/imgs/start-stop-1.png"></ion-img>
      <span class="tooltip-text">Start Stop</span>
    </ion-button>
    <ion-button (click)="routeEvent('finishtripstop')" [disabled]="!eventButtonActiveList.endStop">
      <ion-img src="assets/imgs/end-stop-1.png"></ion-img>
      <span class="tooltip-text">End Stop</span>
    </ion-button>
  </div>
  <div class="d-flex button-list">
    <ion-button (click)="routeEvent('canceltrip')" [disabled]="!eventButtonActiveList.cancelRoute">
      <ion-icon slot="icon-only" class="zmdi zmdi-close-circle"></ion-icon>
      <span class="tooltip-text">Cancel Route</span>
    </ion-button>
    <ion-button (click)="routeEvent('reportIncident')" [disabled]="!eventButtonActiveList.reportIncident">
      <ion-icon slot="icon-only" class="zmdi zmdi-alert-triangle"></ion-icon>
      <span class="tooltip-text">Report Incident</span>
    </ion-button>
  </div>
</ion-content>
