<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <h2>New User? <span>Register now to continue</span></h2>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg_color">
  <div class="form">
    <ion-list lines="none">
      <ion-item lines="none">
        <ion-label mode="md" position="floating">Full Name</ion-label>
        <ion-input mode="md" type="name"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label mode="md" position="floating">Email Address</ion-label>
        <ion-input mode="md" type="email"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label mode="md" position="floating">Create Password</ion-label>
        <ion-input mode="md" type="password"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label mode="md" position="floating">Confirm Password</ion-label>
        <ion-input mode="md" type="password"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label mode="md" position="floating">Phone Number</ion-label>
        <ion-input mode="md" type="number"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button size="large" shape="block" class="btn" (click)="verificaion()">Register Now
    </ion-button>
  </div>
  <p class="ion-text-center">
    We'll send verfication code on adove
    <br>
    {{'given_number_to_verify'}}
  </p>
</ion-content>
