.banner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 240px;

    img {
        &.banner_bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: auto;
            display: block;
        }
    }

    .logo {
        position: absolute;
        bottom: 40px;
        left: 0;
        z-index: 99;
        width: 100%;
        text-align: center;

        h2 {
            color: var(--white);
            margin: 0;
            font-size: 1.65rem;
            margin-top: 15px;
            font-weight: 500;

        }

        img {
            width: 70px;
        }
    }

    &::after,
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--bg-color);
        opacity: .6;
        z-index: 1;

    }

    &::after {
        background: var(--theme-gradient);
        bottom: 0;
        top: unset;
        opacity: 1;

    }
}

.form {
    margin-bottom: 30px;

    ion-list {
        margin-bottom: 5px;
    }
}

.social_login {
    width: calc(100% - 40px);
    margin: 0 auto;

    p {
        margin: 0;
        color: var(--primary);
        font-weight: 500;
        opacity: .3;
        font-size: .9rem;
        margin-bottom: 15px;
    }

    ion-row {
        margin: 0 -8px;
        margin-bottom: 20px;

        ion-col {
            padding: 0 8px;

            ion-button.btn {
                letter-spacing: 0 !important;
                font-weight: 400;
                font-size: .95rem;

                img {
                    width: 16px;
                    position: relative;
                    left: -14px;

                }

                &.fb_btn {
                    --background: #3c5a99;
                }

                &.google_btn {
                    --background: var(--white);
                    color: #393a3f;
                    font-weight: 500;
                }

            }
        }
    }

    ion-button.btn {
        &.new_user {
            --background: var(--bg-color2);
            color: var(--primary);
            font-size: 1.15rem;
            letter-spacing: 0 !important;
            font-weight: 700;
        }
    }
}
